#logo-img{
    width: 10%;
    margin-right: 5%;
}
.navbar{
    background-color: #D3EFBD;
}
.yes{
    background-color: #D3EFBD;;
}
.col-12{
    

margin-right: 10px;
margin-bottom: 10px;
margin-left: 10px;

}